
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('main.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    position: relative;
}

.hero h1, .hero p {
    color: darkblue;
    text-align: left;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    color: #333;
}

.activity-grid div {
    background-size: cover;
    background-position: center;
}

#img1 {
    background-image: url('b.jpeg.jpg');
}

#img3 {
    background-image: url('t.jpg');
}

#img6 {
    background-image: url('kedar.jpg');
}

#img8 {
    background-image: url('d.jpg');
}

.bg-purple {
    background-color: rgb(167, 50, 157);
}

@media (max-width: 576px) {
    .navbar .navbar-nav {
        flex-direction: column;
    }

    .footer {
        background: url('bg.jpeg') no-repeat center center;
        background-size: cover;
        color: #ffffff; 
        padding: 20px;
        position: relative;
    }
    
    .footer-content {
        background: rgba(0, 0, 0, 0.5); 
        padding: 20px;
        border-radius: 10px;
    }

    .form-group {    
        position: relative;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    
    .password-container {
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .form-control {
        width: 100%;
        padding-left: 40px; /* Add padding to make room for the icon */
    }
    
    .toggle-password {
        position: absolute;
        right: 10px;
        cursor: pointer;
    }
}